@import '../../style.scss';

.home{
    @include themify($themes){
      
       background: themed('bgSoft');
        overflow-y: scroll;
        height: calc(100vh - 70px);
        padding: 20px 70px;

        &::-webkit-scrollbar{
            border: none;
        }

    }
}